<div class="jumbotron">
  <h1>List of Writers</h1>
</div>
<% @users.each do |writer| %>
<% if writer.person == "Writer" %>
<div>
<ul>
<li>
Name: <%= link_to writer.username, user_path(writer) %>
</li>
</ul>
</div>
<% end %>
<% end %>
