<div class="jumb">
  <img class = "image-bubble" src="/images/Collab_bubble_red.png">
  <h5> List of Artists </h5>
</div>

<% @users.each do |artist| %>
<% if artist.person == "Artist" %>
<%= link_to user_path(artist) do %>
<div>
<ul.a>
<li class="text-art">
<div class="plus">+</div>
<h4><strong><%= artist.username %></strong><h4>
<div>
<p1><%= artist.about %><p1>
</div>
</li>
</ul>
</div>
<% end %>
<% end %>
<% end %>
