<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.first_name %>!</h1>
    <p>
      You have a request from the user Bchan to be a collaboration partner.  
      <br>
    </p>
    <p>
     Please checkout this user's profile here.
    </p>
    <p>If you'd like to collaborate with this person, please reach out to this user. Their email is bgabot@gmail.com </p>
    <p> Thanks, <p>
    <br>
    <p> The Collab-A-Comic Team </p>
  </body>
</html>