<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello!</h1>
    <p>
      You have a request from a user to be a collaboration partner. 
      <br>
    </p>
    <p>
     Please checkout this user's profile here.
    </p>
    <p>If you'd like to collaborate with this person, click here.</p>
  </body>
</html>