<<<<<<< HEAD
<!DOCTYPE html>

<div class="head-center">
  <?xml version="1.0" encoding="utf-8"?>
  <svg id ="collab-bg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 viewBox="0 0 1920 1080" style="enable-background:new 0 0 1920 1080;" xml:space="preserve">
  <style type="text/css">
  	.st0{fill:#448CF6;}
  	.st1{fill:#EFEFEF;}
  	.st2{font-family:'Bangers-Regular';}
  	.st3{font-size:77.1521px;}
  	.st4{fill:none;}
  	.st5{font-size:70px;}
  	.st6{fill:#FFFFFF;}
  </style>
  <g id="bg_simplify_xA0_Image_1_">
  	<image style="overflow:visible;" width="1920" height="1080" id="bg_simplify_xA0_Image" xlink:href="images/collab_wall_bg.jpg" >
  	</image>
  </g>
  <% if !current_user %>
  <g id="Layer_9">
    <a xlink:href="/sign_up">
  	<path class="st0" d="M838.1,849.8h224.8c6.6,0,12,5.4,12,12v103.4c0,6.6-5.4,12-12,12H838.1c-6.6,0-12-5.4-12-12V861.8
  		C826.1,855.2,831.5,849.8,838.1,849.8z"/>
  </g>
  <g id="sign_up_text">
    <a xlink:href="/sign_up">
  	<text transform="matrix(1 0 0 1 844.1148 946.8013)" class="st1 st2 st3">sign up</text>
  </g>
  <% end %>
  <g id="bubble_shadow_xA0_Image_1_">

  		<image style="overflow:visible;" width="1201" height="813" id="bubble_shadow_xA0_Image" xlink:href="images/black.png"  transform="matrix(1 0 0 1 388 0)">
  	</image>
  </g>
  <g id="bubble_xA0_Image_1_">

  		<image style="overflow:visible;" width="1201" height="813" id="bubble_xA0_Image" xlink:href="images/blue.png"  transform="matrix(1 0 0 1 346 0)">
  	</image>
  </g>
  <g id="A_new_x2C__innovative_way_for__creating_comics_3_">
  	<rect x="645.4" y="475.2" class="st4" width="846.6" height="163.2"/>
  	<text id="A_new_x2C__innovative_way_for__creating_comics" transform="matrix(1 0 0 1 645.4062 526.3359)"><tspan x="0" y="0" class="st2 st5">A new, innovative way for </tspan><tspan x="0" y="84" class="st2 st5">creating comics</tspan></text>
  </g>
  <g id="A_new_x2C__innovative_way_for__creating_comics_2_">
  	<rect x="645.4" y="465.2" class="st4" width="846.6" height="163.2"/>
  	<text id="A_new_x2C__innovative_way_for__creating_comics_1_" transform="matrix(1 0 0 1 645.4062 516.3359)"><tspan x="0" y="0" class="st6 st2 st5">A new, innovative way for </tspan><tspan x="0" y="84" class="st6 st2 st5">creating comics</tspan></text>
  </g>
  <g id="Collab-A-COMIC_text_xA0_Image_1_">

  		<image style="overflow:visible;" width="1217" height="227" id="Collab-A-COMIC_text_xA0_Image" xlink:href="images/logo_blk.png"  transform="matrix(1 0 0 1 349 264)">
  	</image>
  </g>
  <g id="Collab-A-COMIC_xA0_Image_1_">

  		<image style="overflow:visible;" width="1217" height="227" id="Collab-A-COMIC_xA0_Image" xlink:href="images/logo_wht.png"  transform="matrix(1 0 0 1 327 264)">
  	</image>
  </g>
  </svg>

</div>

<div id = "what-we-do" class="head-center">
<h1> What We Do </h1>
<p class="what-info"> When creating comics, you'll need two key skills: being a good writer and artist. Unfortunately, these skills are mutually exclusive: a great artist can be a terrible writer or the reverse is true: a great writer can be a terrible artist. This is where the idea of Collab-A-Comic comes in, to create a community where comic book writers and artists can find a collaboration partner to work with. </p>
</div
>
<div id= "how-it-works" class="head-center">
  <h1> How it works </h1>
  <img id="howitworks" style = "width: 700px" src="/images/How_it_works.png">
</div>

<div id ="get-started" class="head-center">
  <h1> Getting Started </h1>
<p class="what-info"> Now that you have some familiarity with how the site works, let's get started by checking out the main sections of the site! </p>
<div class="row">
  <%= link_to artists_path do %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail main-wrapper">
      <i class="material-icons">brush</i>
      <div class="caption">
        <h3>Find an Artist</h3>
        <p>Search the site for an artist</p>
      </div>
    </div>
  </div>
  <%end%>
  <%= link_to writers_path do %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail main-wrapper2">
      <i class="material-icons" id="pen">edit</i>
      <div class="caption">
        <h3>Find a Writer</h3>
        <p>Search the site for a writer</p>
      </div>
    </div>
  </div>
  <% end %>
  <%= link_to publishedworks_path do %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail main-wrapper3">
      <i class="material-icons" id="book">import_contacts</i>
      <div class="caption">
        <h3>Read a Comic</h3>
        <p>Check out some of the comics created by the users from Collab-A-Comic!</p>
      </div>
    </div>
  </div>
  <%end %>
</div>

</html>
