<div class="jumbotron">
  <h1 class="jumbotron-text">List of Writers</h1>
</div>


<% @users.each do |writer| %>
<% if writer.person == "Writer" %>
<div>
<ul.a>
<li class="text-art">
<div class="plus">+</div>
<h4><%= link_to writer.username, user_path(writer) %><h4>
<div>
<p1><%= writer.about %><p1>
</div>
</li>
</ul>
</div>
<% end %>
<% end %>
