<div class="jumb">
  <img class = "image-bubble" src="/images/Collab_bubble_green.png">
  <h5> List of Writers </h5>
</div>


<% @users.each do |writer| %>
<% if writer.person == "Writer" %>
<%= link_to user_path(writer) do %>
<div>
<ul.a>
<li class="text-art3">
<div class="plus">+</div>
<h4><strong> <%= writer.username %> </strong></h4>
<div>
<p1><%= writer.about %><p1>
</div>
</li>
</ul>
</div>
<% end %>
<% end %>
<% end %>
