<div class="jumbotron">
  <h1 class="jumbotron-text2">Welcome to Collab-A-Comic</h1>
</div>


<div class="jumbotron" id="jbheight">
  <h1 class="jumbotron-text2" id="font-jb"><%= link_to "Find a Writer", writers_path %></h1>
</div>

<div class="jumbotron" id="jbheight2">
  <h1 class="jumbotron-text2" id="font-jb"><%= link_to "Find an Artist", artists_path %></h1>
</div>
