/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require material
 *= require twitter/bootstrap
 *= require bootstrap-material-design
 *= require_tree .
 *= tab
 *= require_self
 */

 h1 {
 	color:#555fa6;
 }

.icon-text{
float:right;
    padding: 20px;
    margin-right: 550px;
    font-size: 50px;
	}
 body {
 	background-color: #ffc166;
 }

.form-control1 {
	width:100%;
	height:200px;
}

.Sign-up {
	margin-top: 15px;
}

.jumbotron-text {
	font-family: Arial;
	text-indent: 400px;
	margin-top: 70px;
}

.jumbotron {
	margin-bottom: 0px;
  height: 200px;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
}


.Artist-list{
	font-color:white;
}

#home-text{
	text-align: center;
}
.card-body	 {
	background-color:blue;
}

#card2	 {
	background-color:green;
}

.user-text {
	text-align: center;
}

.centered {
	text-align:center;
}

.borderpub {
	background-color:white;
	margin: 0px 400px 20px 400px;
	border-radius:5px;
}

#synopsis {
	text-align:right;
}

#submit-button {
	padding-bottom: 10px;
	border: 3px solid black;
}

.description{
		word-wrap: break-word;
   width: 1000px;
}

#pubwork {
	text-indent:10px;
	text-align:center;
}

#jbheight {
	background: url('/images/type.png');
	 background-position: center;
	 background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-width:75%;
}

#jbheight2 {
	background: url('/images/pencil.png');
}

.char {
	text-align: center;
}

.Name {
    margin-bottom: 20px;
}

#pubform {
	text-align: center;
}

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

ul
{
    list-style-type: none;
}

.container {
	position: relative;
	margin: auto;

}

/* font for main page */
.jumbotron-text2 {
	font-family: 'Bangers';
	text-indent: 220px;
	margin-top: 30px;
}

.jumbotron h1 {
	font-size: 100px;
}

#collabjumb {
	background-color: orange;
		margin-top:80px;
		background-size: 1200px;
		background-position: 50px 30px;
		width: 95%;

}

/* end */

.main-wrapper {
		border-radius: 4px;
		background-color: #ffe5ff;
		padding: 10px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		position: relative;
		width:85%;
  	margin:66px;
	}
.main-wrapper:hover{
	transform: scale(1.05);

}

.main-wrapper:hover > i.material-icons{
		transform: rotate(20deg);
		cursor: pointer;
		box-shadow: none;

}


#book{
	background-color: #4d88ff
}
	.main-wrapper2 {
		border-radius: 4px;
		background-color: #ccffcc;
		padding: 10px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		position: relative;
		width:85%;
  	margin:66px;
	}


.main-wrapper2:hover{
	transform: scale(1.05);

}

.main-wrapper3:hover > i.material-icons{
		transform: scale(1.05);
		cursor: pointer;
		box-shadow: none;

}


.main-wrapper3 {
		border-radius: 4px;
		background-color: #80aaff;
		padding: 10px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		position: relative;
		width:85%;
  	margin:66px;
	}

.main-wrapper3:hover{
	transform: scale(1.05);

}


.main-wrapper2:hover > i.material-icons{
		transform: rotate(20deg);
		cursor: pointer;
		box-shadow: none;
}

	i.material-icons {
		font-size: 10rem;
		color: white;
		position: relative;
		border-radius: 50%;
		padding: 20px;
		margin: 3px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

#pen {
	background-color: #80ff80;
}

	i.material-icons:after {
			content: "";
			width: 100%;
			height: 100%;
			border: solid 5px;
			transform: scale(0.8);
			position: absolute;
			top: -2px;
			left: -2px;
			border-radius: 50%;
			transition: all 0.3s ease;
	}

i.material-icons:hover:after {
		transform: scale(1);
		box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}

i.material-icons:nth-of-type(1) {
		background-color: #d59acb;
}

i.material-icons:nth-of-type(2) {
		background-color: #33ffad;
}

/* Login form css */

.form-group {
	background: white;
	border-radius: 3px;
	margin:2px;
}

.form-group2 {
	background: white;
	border-radius: 3px;
}

h2 {
	margin:1px;
	width:300px;
	background-color:red;
	border-radius: 3px;
	color:white;
	font-size: 30px;
	padding:5px;
}

.login-container {
	left: 25%;
	position: fixed;
	margin:150px;
}

.panel-heading{
	background-color: green;
}

.form {
	width:200px;
	padding:10px;
}

.login-button{
	margin:5px;
}

.sign-up {
	margin-top: 100px;
	margin-left: 450px;
}

h3 {
		background-color:red;
	border-radius: 3px;
	color:white;
	padding: 5px;
	margin: 1px;
	font-size: 30px;
}

.asterisk {
	margin: 5px;
	border: solid black 2px;
}

.plus {
	float:left;
	margin: 10px 15px 0 0;
}

p1 {
	font-size: 15px;
}


.text-art {
	font-size: 20px	;
	background-color:#ffe5ff;
	padding: 30px;
	margin: 10px 20px 0px 20px;
	list-style-type: none;
	border-top: 1px solid white;
}

.text-art:hover {
	background-color:#ffccff;
}
.text-art2 {
	font-size: 20px	;
	background-color:#ccffcc;
	padding: 30px;
	margin: 10px 20px 0px 20px;
	list-style-type: none;
	border-top: 1px solid white;
}

.text-art2:hover {
	background-color:#99ff99;
}
.pub-container{
	background: white;
	border-radius: 3px;
	margin:2px;
}

label[for=InputEmail]
{
	margin-left: 1px;
}

label[for=InputName]
{
	margin-left: 2px;
}


.navbar-brand{
  font-family: Bangers;
  font-size: 30px;
}

.navbar-inverse.navbar {
background-color: #3E91CF;
}

.navbar-inverse .navbar-nav>li>a {
    color:white;
}

.navbar-inverse .navbar-nav>li>a:hover {
    text-decoration: underline;
}

.navbar-inverse .navbar-brand {
	color:white;
}

.panel-default>.panel-heading {
	background-color:#009688;
}

.active {
	border: white solid 3px;
	height:40px;
}

.inactive:hover {
	background-color:#99ff99;

}
.inactive {
	height:40px;

}
.nav-tabs{
margin:30px 0px 0px 0px;
}

.login-page{
background: url('/images/swirl2.png') no-repeat center center fixed;
}

.signuppage {
	background: url('/images/signup.png') no-repeat fixed;
	 background-position: left;

}


.publist{
	border-bottom:solid 1px black;
}

.panel_1 {
  margin-bottom: -100px;
}

.head-center {
  text-align: center;
  font-family: Bangers;
  margin-bottom: 50 !important;
}


.head-center {
  text-align: center;
  font-family: Bangers;

}

#howitworks {
  border-radius: 20px;
  max-width: 100%;
}

/*html{
  background: url('../../../public/images/collab_wall_bg.jpg');
}*/
/*#headerContent{margin: 0 auto;
  width: 960px;
  height: 700px;
}*/

#svg {
  height: 75%;
}

#what-we-do {
  background-color: #76dfff;
  padding: 100px;
}

#how-it-works {
  background-color: #ffd700;
  padding: 100px;
}

#get-started {
  background-color: #76dfff;
  padding: 100px;
}

.what-info {
  margin: 0px 50px 0px 50px;
  font-family: Bangers;
  font-size: 30px;
  line-height: 1;
}

#test-header {
  background-image: url('/images/collab_wall_bg.jpg');
  width: 100%;
  height: 600px;
  z-index: -1;
}


#bg-comic {
  position:absolute;
  width: 100%;
  top: 100px;
}

#logo {
  z-index: 5;
}
